.board-row{
  display: flex;
  justify-content: space-evenly;
  background-color: #a4ec45;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 
}

.board-container{
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  
}

.Reset{
  margin: 12px;
  border: none;
  background-color: #a4ec45;
  color: rgb(139, 4, 4);
  width:30%;
  height:20px;
  border-radius: 5px;
  border: 1px solid rgb(139, 4, 4);
  height: 25px;
  text-align: center;
 

 
}

.Title{
  color: rgb(202, 11, 11);
  text-align: center;
}

